<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Мой Сайт</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'page1' %}">Страница 1</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'page2' %}">Страница 2</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'page3' %}">Страница 3</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'page4' %}">Страница 4</a></li>
      </ul>
    </div>
  </div>
</nav>
